<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.webServer.mapper.BprecordMapper">
    <cache-ref namespace="com.step.webServer.mapper" />
    <select id="bpRecords" resultType="bprecord">
        select
               create_datetime,
               sbp,
               dbp,
               map,
               pulse_rate,
               meas_state,
               symptom
        from step.bprecord
        where patient_id = #{patientId}
    </select>
    <select id="bpOverview" resultType="map">
        select numMeasDate,
               numMeas,
               maxSbp,
               meanSbp,
               maxDbp,
               meanDbp,
               case
                 when numMeas = 0 then null
                  else
                    (select count(*)
                        from step.bprecord
                        where patient_id = #{patientId}
                        and (
                        sbp <![CDATA[ > ]]> #{sbpTarget}
                        or
                        dbp <![CDATA[ > ]]> #{dbpTarget}
                        )
                    )
               end as numInvalid,
               case
                 when numMeas = 0 then null
                  else
                      (
                          (select count(*)
                           from step.bprecord
                           where patient_id = #{patientId}
                             and (
                                   sbp <![CDATA[ <= ]]> #{sbpTarget}
                                   and
                                   dbp <![CDATA[ <= ]]> #{dbpTarget}
                               )
                          ) / numMeas
                          )
               end as validRate
        from (
             select count(distinct CAST(create_datetime AS DATE)) as numMeasDate,
                    count(*) as numMeas,
                    max(sbp) as maxSbp,
                    avg(sbp) as meanSbp,
                    max(dbp) as maxDbp,
                    avg(dbp) as meanDbp
             from step.bprecord
             where patient_id = #{patientId}
             ) AS A
    </select>
    <insert id="insertOneBprecord">
        insert into step.bprecord
            (sbp,
             dbp,
             map,
             pulse_rate,
             meas_state,
             symptom,
             create_datetime,
             patient_id) values
            (
                #{sbp},
                #{dbp},
                #{map},
                #{pulseRate},
                #{measState},
                #{symptom},
                #{createDatetime},
                #{patientId}
            )
    </insert>
</mapper>
