<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.webServer.mapper.FollowupMapper">
    <cache-ref namespace="com.step.webServer.mapper" />
    <select id="followup" resultType="followup">
        select * from step.followup
        where patient_id = #{patientId}
        and create_date = #{createDate}
        and user_id = #{userId}
    </select>
    <update id="updateSingleFollowup">
        update step.followup
        set create_date = #{createDate},
            complaint = #{complaint},
            history_present_illness = #{historyPresentIllness},
            history_past_illness = #{historyPastIllness},
            personal_history = #{personalHistory},
            allergic_history = #{allergicHistory},
            family_history = #{familyHistory},
            height = #{height},
            weight = #{weight},
            sbp = #{sbp},
            dbp = #{dbp},
            meanbp = #{meanbp},
            heart_rate = #{heartRate},
            body_temp = #{bodyTemp},
            breathe = #{breathe},
            blood_sugar = #{bloodSugar},
            phys_exam = #{physExam},
            lab_exam = #{labExam},
            sbp_target = #{sbpTarget},
            dbp_target = #{dbpTarget},
            medicine_rx = #{medicineRx},
            is_referral = #{isReferral},
            patient_id = #{patientId},
            user_id = #{userId}
        where followup_id = #{followupId}
    </update>
    <insert id="insertSingleFollowup">
        insert into step.followup
          (create_date,
           complaint,
           history_present_illness,
           history_past_illness,
           personal_history,
           allergic_history,
           family_history,
           height,
           weight,
           sbp,
           dbp,
           meanbp,
           heart_rate,
           body_temp,
           breathe,
           blood_sugar,
           phys_exam,
           lab_exam,
           sbp_target,
           dbp_target,
           medicine_rx,
           is_referral,
           patient_id,
           user_id
           )
        values (
             #{createDate},
             #{complaint},
             #{historyPresentIllness},
             #{historyPastIllness},
             #{personalHistory},
             #{allergicHistory},
             #{familyHistory},
             #{height},
             #{weight},
             #{sbp},
             #{dbp},
             #{meanbp},
             #{heartRate},
             #{bodyTemp},
             #{breathe},
             #{bloodSugar},
             #{physExam},
             #{labExam},
             #{sbpTarget},
             #{dbpTarget},
             #{medicineRx},
             #{isReferral},
             #{patientId},
             #{userId}
             )
    </insert>
    <select id="medicalRecord" resultType="map">
        select
               complaint,
               history_present_illness,
               history_past_illness,
               personal_history,
               allergic_history,
               family_history
        from step.followup
        where followup_id = #{followupId}
    </select>
    <select id="exam" resultType="map">
        select
               height,
               weight,
               sbp,
               dbp,
               meanbp,
               heart_rate,
               body_temp,
               breathe,
               blood_sugar,
               phys_exam,
               lab_exam
        from step.followup
        where followup_id = #{followupId}
    </select>
    <select id="riskfactorclass" resultType="map">
        select
               riskfactorclass_id as riskfactorclassId,
               riskfactorclass_name as riskfactorclassName
        from step.riskfactorclass
    </select>
    <select id="riskfactor" resultType="map">
        select
               A.riskfactor_id AS riskfactorId,
               A.riskfactor_name AS riskfactorName,
               B.checked
        from step.riskfactor AS A
          left join step.riskfactor_followup AS B on A.riskfactor_id = B.riskfactor_id
        where A.riskfactorclass_id = #{riskfactorclassId}
        and B.followup_id = #{followupId}
    </select>
    <select id="riskfactorNew" resultType="map">
        select
            A.riskfactor_id AS riskfactorId,
            A.riskfactor_name AS riskfactorName
        from step.riskfactor AS A
        where A.riskfactorclass_id = #{riskfactorclassId}
    </select>
    <select id="riskfactorFollowup" resultType="riskfactorFollowup">
        select *
        from
             step.riskfactor_followup
        where riskfactor_id = #{riskfactorId}
        and followup_id = #{followupId}
    </select>
    <insert id="insertRiskfactorFollowup">
        insert into
          step.riskfactor_followup
                  (riskfactor_id,
                   followup_id,
                   checked)
          values
                 (#{riskfactorId},
                  #{followupId},
                  #{checked})
    </insert>
    <update id="updateRiskfactorFollowup">
        update step.riskfactor_followup
        set checked = #{checked}
        where riskfactor_id = #{riskfactorId}
        and followup_id = #{followupId}
    </update>
    <select id="mgtPlan" resultType="map">
        select
               sbp_target,
               dbp_target,
               medicine_rx,
               is_referral,
               next_datetime
        from step.followup
        where followup_id = #{followupId}
    </select>
    <select id="practicerx" resultType="map">
        select
               A.practicerx_id as practicerxId,
               A.practicerx_name as practicerxName,
               B.checked,
               B.note
        from step.practicerx AS A left join step.practicerx_followup AS B
        on A.practicerx_id = B.practicerx_id
        where B.followup_id = #{followupId}
    </select>
    <select id="practicerxNew" resultType="map">
        select
            A.practicerx_id as practicerxId,
            A.practicerx_name as practicerxName
        from step.practicerx AS A
    </select>
    <select id="practicerxFollowup">
        select * from step.practicerx_followup
        where practicerx_id = #{practicerxId}
        and followup_id = #{followupId}
    </select>
    <update id="updatePracticerxFollowup">
        update step.practicerx_followup
        set checked = #{checked},
            note = #{note}
        where practicerx_id = #{practicerxId}
        and followup_id = #{followupId}
    </update>
    <insert id="insertPracticerxFollowup">
        insert step.practicerx_followup
            (practicerx_id, followup_id, note, checked)
            values
                (#{practicerxId},
                 #{followupId},
                 #{note},
                 #{checked})
    </insert>
    <select id="allDateAndFollowupIds" resultType="map">
        select create_date AS createDate,
               followup_id AS followupId
        from step.followup
        where patient_id = #{patientId}
        and user_id = #{userId}
    </select>
    <select id="followupPlan" resultType="map">
        select patient_name, gender, age, prc_id, next_confirmed from
                     step.followup AS A left join step.patient AS B
                       on A.patient_id = B.patient_id
        where DATE(next_datetime) = CAST(#{nextDate} AS DATE)
    </select>
</mapper>
