<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.webServer.mapper.TeamMapper">
    <cache-ref namespace="com.step.webServer.mapper" />
    <select id="teamById" resultType="team">
        select *
        from step.team
        where team_id = #{teamId}
    </select>
    <select id="membersByTeamId" resultType="map">
        select
               username,
               user_id AS userId,
               age,
               B.role_name AS position,
               department,
               phone_no AS phoneNo
        from user AS A, role AS B
        where team_id = #{teamId}
        and B.role_id = A.role_id
    </select>
    <select id="teams" resultType="map">
        select
          team_id AS teamId,
          team_name AS teamName,
          A.create_datetime AS createDatetime,
          count(*) AS numMgtPatient
        from step.team AS A left join step.patient using(team_id)
        where 1
        <if test="keyword != null and keyword != ''">
            and (
            team_name like concat('%', #{keyword}, '%')
            )
        </if>
        group by team_id, team_name, A.create_datetime
    </select>

    <select id="teamTotalNum" resultType="int">
        select
        count(*)
        from step.team AS A
        where 1
        <if test="keyword != null and keyword != ''">
            and (
            team_name like concat('%', #{keyword}, '%')
            )
        </if>
    </select>

    <select id="doctorsByTeamId" resultType="string">
        select username from step.user
        where team_id = #{teamId}
        and role_id = 1
    </select>

    <select id="nursesByTeamId" resultType="string">
        select username from step.user
        where team_id = #{teamId}
          and role_id = 2
    </select>

    <update id="addMember">
        update step.user
        set team_id = #{teamId}
        where user_id = #{userId}
    </update>

    <update id="deleteMember">
        update step.user
        set team_id = null
        where user_id = #{userId}
    </update>
    
    <insert id="insertTeam"  useGeneratedKeys="true" keyProperty="teamId">
        insert into step.team(
                              step.team.team_name,
                              step.team.create_datetime,
                              step.team.admin_id
                              )
                              values
                                     (
                                      #{teamName},
                                      NOW(),
                                      #{adminId}
                                     )
    </insert>
    <delete id="deleteTeam">
        delete from step.team
        where step.team.team_id = #{teamId}
    </delete>
    <select id="getTeamNumByAdminId" resultType="int">
        select count(*)
        from team
        where admin_id = #{adminId}
    </select>
</mapper>

