<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.webServer.mapper.TemplateMapper">
    <cache-ref namespace="com.step.webServer.mapper" />
    <select id="templatesByType" resultType="map">
        select
               template_content AS templateContent,
               template_id AS templateId
        from step.template
        where template_type = #{templateType}
    </select>
    <delete id="deleteTemplatesById">
        delete from step.template
        where template_id = #{templateId}
    </delete>
    <insert id="insertTemplate">
        insert into step.template
          (
           template_content,
           template_type
           )
           values
          (
           #{templateContent},
           #{templateType}
           )
    </insert>
</mapper>
