<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.step.webServer.mapper.UserMapper">
    <cache-ref namespace="com.step.webServer.mapper" />
    <select id="selectSidebarContents" resultType="string">
        select page.page_name
        from user, role, page, page_role
        where user.role_id = role.role_id
            and role.role_id = page_role.role_id
            and page_role.page_id = page.page_id
            and user.confirmed = 1
            and user.username = #{username}
    </select>
    <select id="selectByUsername" resultType="User">
        select * from user where username = #{username}
    </select>
    <select id="selectByPrcId" resultType="User">
        select * from user where prc_id = #{prcId}
    </select>
    <select id="selectUserIdByUsername" resultType="int">
        select user_id from user where username = #{username}
    </select>
    <select id="selectTeamIdByUsername" resultType="int">
        select team_id from user where username = #{username}
    </select>
    <select id="selectByUserId" resultType="User">
        select * from user where user_id = #{userId}
    </select>
    <insert id="insertOne" useGeneratedKeys="true" keyProperty="userId">
        insert into user
          (username,
            password,
            gender,
            age,
            birthday,
            prc_id,
            department,
            position,
            license_id,
            phone_no,
            picture_path,
            confirmed,
            team_id,
            hospital_id,
            role_id)
        values 
            (#{username},
            #{password},
            #{gender},
            #{age},
            #{birthday},
            #{prcId},
            #{department},
            #{position},
            #{licenseId},
            #{phoneNo},
            #{picturePath},
            #{confirmed},
            #{teamId},
            #{hospitalId},
            #{roleId})
    </insert>
    <update id="updateOne">
        update step.user set
                             step.user.username = #{username},
                             step.user.password = #{password},
                             step.user.gender = #{gender},
                             step.user.age = #{age},
                             step.user.birthday = #{birthday},
                             step.user.prc_id = #{prcId},
                             step.user.department = #{department},
                             step.user.position = #{position},
                             step.user.license_id = #{licenseId},
                             step.user.phone_no = #{phoneNo},
                             step.user.picture_path = #{picturePath},
                             step.user.confirmed = #{confirmed},
                             step.user.team_id = #{teamId},
                             step.user.hospital_id = #{hospitalId},
                             step.user.role_id = #{roleId}
        where step.user.user_id = #{userId}
    </update>
    
    <select id="doctorsAvailable" resultType="map">
        select user_id, username from step.user
        where role_id = 1
        and (
            team_id is null
            or
            team_id not in (select team_id from step.team)
            )
        and confirmed is not null
        and confirmed = true
    </select>

    <select id="nursesAvailable" resultType="map">
        select user_id, username from step.user
        where role_id = 2
          and (
                team_id is null
                or
                team_id not in (select team_id from step.team)
            )
          and confirmed is not null
          and confirmed = true
    </select>
    <select id="getUnconfirmed" resultType="map">
        select
               user_id AS userId,
               username,
               gender,
               role_name AS roleName,
               phone_no AS phoneNo,
               prc_id AS prcId
        from user left join step.role using(role_id)
        where confirmed = false
        and hospital_id in
            (
              select hospital_id from step.hospital
              where admin_id = #{userId}
              )
    </select>
    <update id="updateConfirmed">
        update user set confirmed = #{confirmed}
        where user_id = #{userId}
    </update>

    <update id="insertOrUpdateOneUser" useGeneratedKeys="true" keyProperty="userId">
        insert INTO user
            (username,
             password,
             gender,
             age,
             birthday,
             prc_id,
             department,
             position,
             license_id,
             phone_no,
             picture_path,
             confirmed,
             team_id,
             hospital_id,
             role_id)
        VALUES
            (#{username},
             #{password},
             #{gender},
             #{age},
             #{birthday},
             #{prcId},
             #{department},
             #{position},
             #{licenseId},
             #{phoneNo},
             #{picturePath},
             #{confirmed},
             #{teamId},
             #{hospitalId},
             #{roleId})
        ON DUPLICATE KEY UPDATE
            username = #{username},
            password = #{password},
            gender =  #{gender},
            age =  #{age},
            birthday =       #{birthday},
            prc_id =  #{prcId},
            department =   #{department},
            position =    #{position},
            license_id =   #{licenseId},
            phone_no =      #{phoneNo},
            picture_path =   #{picturePath},
            confirmed =  #{confirmed},
            team_id =    #{teamId},
            hospital_id =  #{hospitalId},
            role_id =    #{roleId}
    </update>
</mapper>
